.EndPageWrapper {
  display: flex;
  width: 100vw;
  min-height: 40rem;
  max-height: 100vh;
  //   justify-content: center;
  flex-direction: column;
  //   border-top: 2rem solid #3a3a3a3d;
  //   background-color: rebeccapurple;

  .BackgroundMain2 {
    opacity: 0.2 !important;
  }
  .EndPageHead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 20%;
    margin-top: 7rem;
    // background-color: rebeccapurple;
  }
  .EndPageBody {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    margin-top: 3rem;
    // background-color: red;
  }

  .EndPageBot {
    height: 50%;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
      font-size: 20px;
      color: #3a3a3a98;
    }
  }

  .InformationCards {
    // border: 1px solid gray;
    margin: 1.2rem;
    border-radius: 2rem;
    padding: 1.5rem 4rem;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }

  .InformationCards2 {
    display: flex;
    margin-top: -4rem;
    margin-left: 7rem;
    justify-content: center;
    text-align: left;
    flex-direction: row;
    height: 29rem;
    animation: animateku 10s ease-in-out infinite;
    img {
    }
  }

  .DuaPerTuju {
    // width: 10px;
    margin-top: 2rem;
  }
  @keyframes animateku {
    100%,
    0% {
      transform: rotateY(0deg);
    }

    50% {
      transform: rotateY(200deg);
    }
  }
}
