.gambarEquity {
  width: 13rem;
  height: 100%;
  margin: 0rem 0rem 0rem 4rem;
}

.NavbarCon {
  background: transparent !important;
  color: black !important;
  box-shadow: none !important;
  margin-top: 2rem;
  margin-right: 3rem;
 

  ;
}
.navbarCollapse3 {
  color: black;
}

