.gambarEquity {
  width: 13rem;
  height: 100%;
  margin: 0rem 0rem 0rem 4rem;
}

.NavbarCon {
  background: transparent !important;
  color: black !important;
}
.navbarCollapse3 {
  color: black;
}

.Button {
  padding: 0.4rem 2em;
  border-radius: 20px;
  border: 2px solid rgb(35, 168, 35);
  background-color: #fff;
  margin: 0rem 1rem;
}
.Button2 {
  padding: 0.5rem 2em;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: rgb(35, 168, 35);
  margin: 0rem 1rem;

  font-family: 'Maax-Bold', 'Maax';
  font-weight: 700;
}
