.gambarEquity {
    width: 8rem;
    height: 100%;
}
.NavbarCon {
    background: rgb(10,187,154);
background: linear-gradient(6deg, rgba(10,187,154,0.8589636538209033) 0%, rgba(42,143,87,0.8421569311318278) 10%, rgba(19,121,29,1) 55%); 
}