.Page3Container {
  display: flex;
  width: 100vw;
  min-height: 50rem;
  max-height: 100vh;
  justify-content: center;
  flex-direction: column;
  // background-color: rebeccapurple;

  .Page3Header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: "Montserrat-Bold";
    }

    h5 {
      font-family: "Montserrat-Medium";
    }
  }
  .Page3Body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    padding: 3rem;
    .Page3Bodykiri {
      // width: 50%;
      margin: 2rem;
      // background-color: wheat;
      height: 30rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .imageWrap {
        margin-top: 2rem;
        margin-bottom: 4rem;
        img {
          width: 33rem;
        }
      }
      .BodyImage {
        margin-top: -2rem;
        h3 {
          font-family: "Montserrat-Bold";
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -0.1px;
          text-align: center;
          color: #000000;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: 0.09px;
          text-align: center;
          color: #333333;
          margin-top: 1rem;
          font-family: "Montserrat-Regular            ";
        }
      }
    }
    .Page3Bodykanan {
      // width: 50%;
      margin: 2rem;
      // background-color: red;
      height: 30rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .imageWrap {
        margin-top: 2rem;
        margin-bottom: 4rem;
        img {
          width: 33rem;
        }
      }
      .BodyImage {
        margin-top: -2rem;
        h3 {
          font-family: "Montserrat-Bold";
          font-size: 24px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -0.1px;
          text-align: center;
          color: #000000;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: 0.09px;
          text-align: center;
          color: #333333;
          margin-top: 1rem;
          font-family: "Montserrat-Regular            ";
        }
      }
    }
  }
}

.btnKhusus {
  margin-top: 1rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 4px;
  background-color: #73c5c5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  border: none;
  color: #ffffff;
  font-family: "Montserrat-Regular";
}
