@media all and (max-width: 766px) {
  .BackgroundMain img {
    width: -webkit-fill-available;
    opacity: 25%;
  }
  .NavbarV1_Button__23qgI {
    padding: 0.4rem 2em;
    border-radius: 20px;
    border: 2px solid rgb(35, 168, 35);
    background-color: #fff;
    margin: 0rem 0.2rem;
  }
  .NavbarV1_Button2__19XEW {
    padding: 0.5rem 2em;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: rgb(35, 168, 35);
    /* margin: 0rem 1rem; */
  }
  .MainContainer .BodyContainer .TrdContainer .ContainerButton {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0rem;
    margin-bottom: 4rem;
  }

  .nav-item {
    padding-left: 2rem;
    padding: 1rem;
  }

  .NavbarV1_Button__23qgI {
    padding: 0.4rem 2em;
    border-radius: 0px;
    border: 0px;
    width: 100%;
    border-bottom: 1px solid #80808054;
    background-color: transparent;
    margin: 0rem 0.2rem;
  }
  .navbar-collapse {
    flex-basis: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* flex-grow: 1; */
    /* text-align: center; */
    align-items: center;
    /* align-items: center; */
    /* align-content: center; */
    background-color: rgba(206, 206, 206, 0.212);
  }
}
