@media all and (max-width: 650px) {
  .NavbarV1_gambarEquity__1isHk {
    width: 15rem;
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }
  .MainContainer .BodyContainer .SecContainer .TitelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .MainContainer .BodyContainer .SecContainer .SectionCard {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    width: 100%;
    /* margin-bottom: 40rem; */
    padding: 0.2rem;
  }

  .MainContainer .BodyContainer .SecContainer .SectionServe {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  .MainContainer .BodyContainer .SecContainer .SectionServe li {
    list-style: none;
    font-size: 28px;
    text-align: left;
    margin-left: -3rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgba(50, 172, 50, 0.678);
  }
  .MainContainer .BodyContainer .TrdContainer {
    margin-top: 10rem;
    width: 100%;
    height: 90vh;
    background-color: transparent;
  }
  .MainContainer .BodyContainer .SecContainer .SectionCard .CardKhusus {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 2px solid rgba(37, 128, 37, 0.753);
    padding: 2rem 0rem 1rem 0rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 1rem;
  }
}
