@media all and (max-width: 760px) {
  .MainContainer {
    max-height: 100vh;
    min-height: 30rem;
  }
  .MainContainer .BodyContainer h1 {
    text-shadow: 0 2px 4px #587197;
    font-family: "Montserrat-Bold";
    margin-top: 8rem;
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    /* margin-top: 0rem; */
  }
}

@media all and (max-width: 370px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .MainContainer {
    max-height: 100vh;
    min-height: 40rem;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .MainContainer .BodyContainer h1 {
    text-shadow: 0 2px 4px #587197;
    font-family: "Montserrat-Bold";
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    margin-top: 7rem;
  }

  .MainContainer .BodyContainer h4 {
    margin-top: 3rem;
    text-shadow: 0 2px 4px #63779c;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    padding: 2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .MainContainer .BodyContainer button {
    margin-top: 0rem;
    width: 12rem;
    padding: 1rem 2rem;
    font-family: "Montserrat-Medium";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
    text-align: center;
    color: #ffffff;
    background-color: #73c5c5;
    border: none;
    border-radius: 4px;
  }
  .NavbarV1_gambarEquity__1isHk {
    width: 10rem;
    height: 100%;
    margin: 0rem 1.5rem 0rem 0rem;
  }

  .Page3Container .Page3Header h1 {
    font-family: "Montserrat-Bold";
    font-size: 28px;
  }
  .Page3Container .Page3Header h5 {
    margin-top: 1rem;
    font-family: "Montserrat-Medium";
    font-size: 16px;
  }
  .Page3Container .Page3Body {
    display: flex;
    margin-right: -20rem;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin-left: -4rem !important;
    margin-top: -7rem !important;
    padding: 3rem;
  }

  .Page3Container .Page3Body .Page3Bodykiri .imageWrap img {
    width: 18rem !important;
  }
  .Page3Container .Page3Body .Page3Bodykiri .BodyImage p {
    font-size: 10px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.09px;
    text-align: center;
    color: #333333;
    margin-top: 1rem;
    font-family: "Montserrat-Regular            ";
  }

  .Page3Container .Page3Body .Page3Bodykanan .imageWrap img {
    width: 18rem !important;
  }
  .Page3Container .Page3Body .Page3Bodykanan .BodyImage p {
    font-size: 10px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.09px;
    text-align: center;
    color: #333333;
    margin-top: 1rem;
    font-family: "Montserrat-Regular            ";
  }
  .Page3Container .Page3Body .Page3Bodykanan {
    /* margin: 2rem; */
    margin-left: 0rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hide375 {
    display: none !important;
  }

  .navbar-nav {
    padding-right: 6px;
    padding-left: 6px;
    color: black !important;
  }
}
