.Page2Container {
  width: 100vw;
  min-height: 50rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.23433123249299714) 11%,
    rgba(255, 255, 255, 0.9) 95%
  );
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  //   background-color: rebeccapurple;
  .Page2Header {
    width: 100%;
    height: 30%;
    // background-color: rebeccapurple;
    padding-top: 8rem;
    h1 {
      font-family: "Maax-Bold", "Maax";
      font-size: 50px;
    }
    h1:hover {
      transform: scale(1.1);
      transition: 8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .Page2Body {
    width: 100vw;
    height: 60vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    // background-color: firebrick;
    display: flex;
    flex-direction: row;
    .Page2BodyKiri {
      width: 30%;
      height: 100%;
      //   background-color: rgba(35, 168, 35, 0.753);
      opacity: 1;
      img {
        width: 30rem;
        margin-left: 7rem;
      }
    }
    .Page2BodyKanan {
      width: 70%;
      height: 100%;
      margin-top: 1.4rem;
      //   background-color: aqua;
      .page2BodyKananAtas {
        // width: 100%;
        height: 33%;
        // background-color: cadetblue;
        text-align: left;
        margin-left: 14rem;
        h1 {
          font-size: 28px;
          font-family: "Maax";
        }
      }
      .page2BodyKananTengah {
        width: auto;
        height: 33%;
        margin-top: -3.5rem;
        // box-shadow: 5px 5px 10px #a9c9a9, -2px -2px 5px #b7cab7;
        // background-color: violet;
        h1 {
          font-size: 24px;
          line-height: 2rem;
        }
        .bigHudred {
          font-size: 60px;
          font-weight: 800;
        }

        font-family: "Maax";
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        .page2BodyKananTengah1 {
          //   background-color: red;
          //   box-shadow: 5px 5px 10px #a9c9a9, -2px -2px 5px #b7cab7;
          border-radius: 10px;
          padding: 0.5rem 0rem;
          display: flex;
          justify-content: center;
          text-align: center;
          //   background-color: rebeccapurple;
          margin-left: 13rem;
          margin-right: 1rem;
          h1 {
            font-size: 20px;
          }
          width: 30%;
        }
        .page2BodyKananTengah3 {
          display: flex;
          justify-content: center;
          text-align: center;
          //   box-shadow: 5px 5px 10px #a9c9a9, -2px -2px 5px #b7cab7;
          border-radius: 10px;
          padding: 0.5rem 0rem;
          //   background-color: rebeccapurple;

          h1 {
            font-size: 20px;
          }
          width: 30%;
        }
        .page2BodyKananTengah5 {
          display: flex;
          justify-content: center;
          text-align: center;
          //   box-shadow: 5px 5px 10px #a9c9a9, -2px -2px 5px #b7cab7;
          border-radius: 10px;
          padding: 0.5rem 0rem;
          margin-right: 10rem;
          margin-left: 1rem;
          h1 {
            font-size: 20px;
          }
          width: 30%;
        }
      }
      .page2BodyKananBawah {
        // width: 100%;
        height: 33%;
        justify-content: center;
        align-items: center;
        // background-color: crimson;
        display: flex;
        flex-direction: row;
        margin-left: 12rem;
        .page2BodyKananBawahAtas {
          // border-radius: 10px;
          text-align: left;
          padding: 1rem;
          /* background-color: gold; */
          // color: #fff !important;
          border-right: 1px solid gray;
          .text-our {
            font-size: 24px;
            position: absolute;
            color: #3a3a3a;
            margin-left: 0.1rem;
            margin-bottom: -4rem;
          }
          .text-green {
            font-size: 53px;
          }
          h1 {
            font-family: "Maax";
          }
          text-align: left;
        }

        .page2BodyKananBawahBawah {
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;

          :nth-child(4) {
            height: 2.8rem;
          }
          .Page2ImgWraper {
            padding: 1rem 0rem;
            box-shadow: 5px 5px 10px #73757360, -2px -2px 5px #fafafa73;
            height: 100%;

            img {
              width: 10rem;
              padding: 0.5rem;
              margin: 1rem 1rem;
            }
            img:hover {
              transform: scale(1.1);
              transition: 8s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
          }
        }
      }
    }
  }

  .BackgroundMain3 {
    margin-top: -1rem;
    transform: rotate(180deg);
    filter: blur(1rem);
    opacity: 0.3;
    z-index: -2;
  }
}
