.Page2Container {
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 20rem;
  // border-bottom: 2px solid gray;

  h3 {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
}
