// // .BackgroundMain {
// // display: flex;
// // position: fixed;
// // z-index: -1;

.back2 {
  position: fixed;
  width: 30rem;
  opacity: 0.1;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  display: flex;
}
// }

.BackgroundMain2 {
  display: flex;
  position: absolute;
  opacity: 0.6;
  background: linear-gradient(10deg, #ffffff, #ceee19, #90e0ff, #57ff81);
  filter: blur(8px);
  margin-top: 0.6rem;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  border: none;
  transform: rotateZ(0.7deg);
  animation: animate 20.5s ease-in-out infinite;
}

.BackgroundMain3 {
  display: flex;
  position: absolute;
  opacity: 0.6;
  background: linear-gradient(45deg, #ceee19, #90e0ff, #57ff81, #a960ee);
  filter: blur(8px);
  margin-top: 0.6rem;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  transform: rotateZ(0.7deg);
  animation: animate 20.5s ease-in-out infinite;
}

// .BackgroundMain {
//   display: flex;
//   position: fixed;
//   opacity: 1;
//   margin-top: -26rem;
//   margin-left: -12rem;
//   transform: rotate(-10deg);
//   z-index: -2;
//   width: 180vw;
//   height: 100vh;
//   background: linear-gradient(-45deg, #a960ee, #ceee19, #90e0ff, #57ff81);
//   background-size: 800% 800%;
//   filter: blur(4px);
//   -webkit-filter: blur(4px);
//   -webkit-animation: BackgroundAnimated 15s ease infinite;
//   -moz-animation: BackgroundAnimated 15s ease infinite;
//   -o-animation: BackgroundAnimated 15s ease infinite;
//   animation: BackgroundAnimated 15s ease infinite;
// }

// @keyframes BackgroundAnimated {
//   0% {
//     background-position: 0% 92%;
//   }
//   50% {
//     background-position: 100% 9%;
//   }
//   100% {
//     background-position: 0% 92%;
//   }
// }

// @-webkit-keyframes BackgroundAnimated {
//   0% {
//     background-position: 0% 92%;
//   }
//   50% {
//     background-position: 100% 9%;
//   }
//   100% {
//     background-position: 0% 92%;
//   }
// }
// @-moz-keyframes BackgroundAnimated {
//   0% {
//     background-position: 0% 92%;
//   }
//   50% {
//     background-position: 100% 9%;
//   }
//   100% {
//     background-position: 0% 92%;
//   }
// }
// @-o-keyframes BackgroundAnimated {
//   0% {
//     background-position: 0% 92%;
//   }
//   50% {
//     background-position: 100% 9%;
//   }
//   100% {
//     background-position: 0% 92%;
//   }
// }
// @keyframes BackgroundAnimated {
//   0% {
//     background-position: 0% 92%;
//   }
//   50% {
//     background-position: 100% 9%;
//   }
//   100% {
//     background-position: 0% 92%;
//   }
// }

// .WaveWrapper {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   background-color: #303030;
//   overflow: hidden;
//   .wave{

//   }
// }

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 50%,
      8% 57%,
      18% 63%,
      30% 66%,
      44% 65%,
      58% 61%,
      70% 59%,
      83% 58%,
      92% 61%,
      100% 68%,
      100% 99%,
      0% 100%
    );
  }
  // 90% {
  //   clip-path: ellipse(100% 42% at 24% 88%);
  // }
  // 80% {
  //   clip-path: ellipse(100% 42% at 34% 100%);
  // }
  // 70% {
  //   clip-path: ellipse(100% 42% at 34% 100%);
  // }
  // 60% {
  //   clip-path: ellipse(100% 42% at 61% 95%);
  // }

  50% {
    clip-path: polygon(
      0 75%,
      8% 70%,
      18% 66%,
      30% 65%,
      44% 63%,
      56% 62%,
      67% 59%,
      79% 57%,
      89% 51%,
      100% 44%,
      100% 100%,
      0% 100%
    );
  }
  // 40% {
  //   clip-path: ellipse(100% 42% at 85% 97%);
  // }
  // 30% {
  //   clip-path: ellipse(100% 29% at 88% 99%);
  // }
  // 20% {
  //   clip-path: ellipse(100% 29% at 57% 92%);
  // }
  // 10% {
  //   clip-path: ellipse(100% 29% at 27% 100%);
  // }
  // 70%,
  // 30% {
  //   clip-path: polygon(
  //     0 59%,
  //     12% 56%,
  //     23% 55%,
  //     34% 57%,
  //     45% 63%,
  //     58% 60%,
  //     71% 53%,
  //     86% 51%,
  //     100% 56%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 60% {
  //   clip-path: polygon(
  //     0 56%,
  //     13% 56%,
  //     23% 54%,
  //     34% 56%,
  //     46% 61%,
  //     58% 65%,
  //     71% 60%,
  //     82% 55%,
  //     100% 59%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 50% {
  //   clip-path: polygon(
  //     0 56%,
  //     13% 56%,
  //     23% 54%,
  //     34% 56%,
  //     46% 61%,
  //     58% 65%,
  //     69% 68%,
  //     81% 65%,
  //     100% 60%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 40% {
  //   clip-path: polygon(
  //     1% 49%,
  //     10% 55%,
  //     22% 58%,
  //     38% 54%,
  //     51% 57%,
  //     61% 64%,
  //     71% 70%,
  //     83% 71%,
  //     100% 66%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 30% {
  //   clip-path: polygon(
  //     0 45%,
  //     10% 55%,
  //     22% 58%,
  //     36% 57%,
  //     49% 61%,
  //     56% 70%,
  //     70% 75%,
  //     83% 77%,
  //     100% 78%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 20% {
  //   clip-path: polygon(
  //     0 49%,
  //     10% 58%,
  //     21% 61%,
  //     33% 63%,
  //     45% 69%,
  //     57% 75%,
  //     70% 72%,
  //     82% 71%,
  //     100% 70%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 10% {
  //   clip-path: polygon(
  //     0 62%,
  //     11% 57%,
  //     22% 65%,
  //     33% 67%,
  //     45% 60%,
  //     57% 63%,
  //     70% 64%,
  //     82% 71%,
  //     100% 70%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
  // 0% {
  //   clip-path: polygon(
  //     0% 49%,
  //     11% 56%,
  //     19% 60%,
  //     32% 62%,
  //     44% 59%,
  //     60% 52%,
  //     77% 49%,
  //     93% 49%,
  //     100% 60%,
  //     100% 98%,
  //     0% 100%
  //   );
  // }
}
